.lunchForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}

@media screen and (max-width: 768px) {
  .lunchForm {
    width: 95%;
  }
}

@media screen and (min-width: 768px) {
  .lunchForm {
    width: 600px;
  }
}
