.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}
.input_container {
  width: 300px;
}

.error_container {
  position: relative;
}

.label {
  font-size: 24px;
}

.input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 1px 0;
}

.input_date {
  height: 42px;
}

.input.input_invalid {
  border: 2px solid red;
  outline: inherit;
  background-color: #fbdddd;
}

.invalid {
  position: absolute;
  top: 5px;
  color: red;
  font-size: 1.1em;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .label {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 22px;
  }

  .input_container {
    width: 90%;
    margin-left: 20px;
  }
}
