.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
}
.label {
  font-size: 24px;
}
.textarea_container {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
.textarea {
  width: 100%;
  min-height: 100px;
  font-size: 20px;
  padding: 1px 0;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .label {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 22px;
  }

  .textarea_container {
    min-width: 90%;
    max-width: 90%;
    width: 90%;
    margin-left: 20px;
  }
}
