.snackbar {
  visibility: visible;
  min-width: 250px;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 60px;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  border-radius: 10px;
}

.success {
  background-color: aquamarine;
  height: 30px;
  padding-top: 10px;
  text-align: center;
}

.failure {
  background-color: crimson;
  height: 30px;
  padding-top: 10px;
  text-align: center;
}

@keyframes fadein {
  from {
    top: 0;
  }
  to {
    top: 60px;
  }
}

@keyframes fadeout {
  from {
    top: 60px;
  }
  to {
    top: 0;
  }
}
