.primaryBtn {
  height: 40px;
  width: 120px;
  color: #fff;
  background-color: #1976d2;
  margin-top: 40px;
  font-size: 20px;
}

.primaryBtn:disabled {
  background-color: #91b5da;
  cursor: not-allowed;
}
