.container {
  margin: 50px 100px;
  border: 1px solid black;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('./images/background.jpg');
  background-size: 100vw 100vh;
  overflow-x: scroll;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    height: 100vh;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    margin: 50px auto;
    width: 878px;
  }
}
