.banner {
  font-size: 36px;
  margin: 50px;
  color: #0045af;
}

@media screen and (max-width: 375px) {
  .banner {
    font-size: 34px;
    margin: 20px 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 600px) {
  .banner {
    font-size: 34px;
    margin: 50px 10px;
  }
}
